In [1]:
# Recency(R): recency_days
# Frequency(F): lifetime_orders
# Monetary Value: lifetime_revenue

In [2]:
import pandas as pd
import numpy as np

In [3]:
rfm=pd.read_csv('RFM Customer Value.csv', index_col='customer_dim_id')
rfm.head()

                 recency_days  lifetime_orders  lifetime_revenue
customer_dim_id
60754208                  515                1            105.89
59421604                  607                1            120.62
58021596                  664                1            331.56
76158262                  115                3            635.98
69548494                  722                2            840.99

In [4]:
quantiles = rfm.quantile(q=[0.25,0.5,0.75])
quantiles = quantiles.to_dict()

In [5]:
segmented_rfm = rfm

In [6]:
# The lowest recency, highest frequency and monetary amounts are our best customers
def RScore(x, p, d):
    if x <=d[p][0.25]:
        return 1
    elif x <=d[p][0.5]:
        return 2
    elif x<=d[p][0.75]:
        return 3
    else:
        return 4

def FMScore(x, p, d):
    if x <=d[p][0.25]:
        return 4
    elif x <=d[p][0.5]:
        return 3
    elif x<=d[p][0.75]:
        return 2
    else:
        return 1

In [7]:
segmented_rfm['r_quartile'] = segmented_rfm['recency_days'].apply(RScore, args=('recency_days',quantiles,))
segmented_rfm['f_quartile'] = segmented_rfm['lifetime_orders'].apply(FMScore, args=('lifetime_orders',quantiles,))
segmented_rfm['m_quartile'] = segmented_rfm['lifetime_revenue'].apply(FMScore, args=('lifetime_revenue',quantiles,))
segmented_rfm.head()

,recency_days,lifetime_orders,lifetime_revenue,r_quartile,f_quartile,m_quartile
customer_dim_id,,,,,,
60754208,515,1,105.89,4,4,4
59421604,607,1,120.62,4,4,4
58021596,664,1,331.56,4,4,2
76158262,115,3,635.98,1,2,2
69548494,722,2,840.99,4,3,1

In [8]:
# combine RFM score
segmented_rfm['RFMScore'] = segmented_rfm.r_quartile.map(str)  + segmented_rfm.f_quartile.map(str) + segmented_rfm.m_quartile.map(str)
segmented_rfm.head()

,recency_days,lifetime_orders,lifetime_revenue,r_quartile,f_quartile,m_quartile,RFMScore
customer_dim_id,,,,,,,
60754208,515,1,105.89,4,4,4,444
59421604,607,1,120.62,4,4,4,444
58021596,664,1,331.56,4,4,2,442
76158262,115,3,635.98,1,2,2,122
69548494,722,2,840.99,4,3,1,431

In [10]:
result = segmented_rfm[segmented_rfm['RFMScore']=='111'].sort_values('lifetime_revenue', ascending=False)
result.head()

,recency_days,lifetime_orders,lifetime_revenue,r_quartile,f_quartile,m_quartile,RFMScore
customer_dim_id,,,,,,,
37762845,1,22315,4333579.23,1,1,1,111
70435122,6,431,64069.04,1,1,1,111
60735207,48,284,42785.37,1,1,1,111
60372622,3,229,42123.95,1,1,1,111
40141316,7,237,35281.48,1,1,1,111

In [11]:
result.to_csv('RFM_result.csv')

In [1]:
https://cdn-images-1.medium.com/max/800/1*MeXvFG4Ez0wStMDCXZyN-Q.png

SyntaxError: invalid syntax (<ipython-input-1-b592d71f013f>, line 1)