# Shopping Flag and Probability Model Update（After Feature Selection）

### Logistic Regression Model

### import data

In [1]:
import pandas as pd
import numpy as np

In [2]:
Customer_L = pd.read_csv('data.csv')
Customer_L.head()

,CUSTOMER_DIM_ID,LIFETIME_UNITS,DISTINCT_CHANNELS_PURCHASED,DIRECT_LIFETIME_UNITS,TOT_ORD_365_POST_ACQ,TOT_ORD_365_SECOND_PLUS,TOT_UNITS_365_SECOND_PLUS,TOT_UNITS_365_POST_SEC,LAPSED_CUSTOMER_FLG,Lifetime_Womens_Purchase_Flg,next_12mo_buyer_flg
0,8376,1,1,1,0,0,0,0,1,1,0
1,9729,51,1,50,1,6,19,12,0,1,1
2,12765,4,2,4,1,1,2,0,1,1,0
3,14940,1,1,1,0,0,0,0,1,0,0
4,15046,1,1,1,0,0,0,0,1,1,0

In [3]:
Customer_L.set_index('CUSTOMER_DIM_ID', inplace=True)
Customer_L.head()

,LIFETIME_UNITS,DISTINCT_CHANNELS_PURCHASED,DIRECT_LIFETIME_UNITS,TOT_ORD_365_POST_ACQ,TOT_ORD_365_SECOND_PLUS,TOT_UNITS_365_SECOND_PLUS,TOT_UNITS_365_POST_SEC,LAPSED_CUSTOMER_FLG,Lifetime_Womens_Purchase_Flg,next_12mo_buyer_flg
CUSTOMER_DIM_ID,,,,,,,,,,
8376,1,1,1,0,0,0,0,1,1,0
9729,51,1,50,1,6,19,12,0,1,1
12765,4,2,4,1,1,2,0,1,1,0
14940,1,1,1,0,0,0,0,1,0,0
15046,1,1,1,0,0,0,0,1,1,0

### Divide Data

In [9]:
Customer_L=pd.DataFrame(Customer_L)
y_L=Customer_L['next_12mo_buyer_flg']
X_L=Customer_L.drop('next_12mo_buyer_flg', axis=1)
X_L.head

<bound method NDFrame.head of                  LIFETIME_UNITS  DISTINCT_CHANNELS_PURCHASED  \
CUSTOMER_DIM_ID
8376                          1                            1
9729                         51                            1
12765                         4                            2
14940                         1                            1
15046                         1                            1
18536                        77                            1
22137                        60                            1
31008                        33                            2
34618                         1                            1
37727                         5                            1
39569                         1                            1
40044                        12                            1
44927                        20                            1
47859                         1                            1
48995                       102                            2
58933                         1                            1
63402                         1                            1
65726                         9                            1
67187                         3                            1
81978                         3                            1
95428                        10                            1
104432                        3                            1
108344                      132                            1
111037                        1                            1
114240                       10                            1
121138                        8                            1
131994                       12                            1
133176                        6                            1
134666                        1                            1
135537                       40                            1
...                         ...                          ...
3315591                       2                            1
3320068                       1                            1
3322166                      67                            2
3323716                       7                            1
3326964                      12                            1
3329716                      12                            2
3333009                       1                            1
3334912                       5                            1
3339023                       5                            1
3348623                     112                            1
3358136                       7                            1
3358278                       7                            1
3363727                       8                            1
3367564                       4                            1
3373270                      32                            2
3379768                       5                            1
3383864                      15                            1
3391316                       1                            1
3393085                      11                            1
3406742                       3                            1
3417978                       2                            1
3423142                       9                            2
3423290                      11                            1
3425310                       7                            1
3432047                     121                            2
3443149                      43                            1
3447233                     159                            2
3449808                      52                            2
3450965                       1                            1
3451737                       3                            1

                 DIRECT_LIFETIME_UNITS  TOT_ORD_365_POST_ACQ  \
CUSTOMER_DIM_ID
8376                                 1                     0
9729                                50                     1
12765                                4                     1
14940                                1                     0
15046                                1                     0
18536                               64                     6
22137                               57                     0
31008                               33                     2
34618                                1                     0
37727                                5                     1
39569                                1                     0
40044                               12                     0
44927                               20                     3
47859                                1                     0
48995                              102                     7
58933                                1                     0
63402                                1                     0
65726                                9                     1
67187                                3                     0
81978                                3                     0
95428                               10                     1
104432                               3                     0
108344                             110                     0
111037                               1                     0
114240                              10                     0
121138                               8                     1
131994                              12                     1
133176                               6                     1
134666                               1                     0
135537                              40                    11
...                                ...                   ...
3315591                              2                     0
3320068                              1                     0
3322166                             66                     2
3323716                              7                     1
3326964                             12                     0
3329716                             12                     3
3333009                              1                     0
3334912                              5                     0
3339023                              4                     0
3348623                            110                     2
3358136                              5                     1
3358278                              6                     3
3363727                              8                     0
3367564                              4                     0
3373270                             31                     3
3379768                              5                     1
3383864                             15                     2
3391316                              1                     0
3393085                              9                     2
3406742                              3                     1
3417978                              2                     0
3423142                              9                     4
3423290                             11                     0
3425310                              7                     1
3432047                            114                     0
3443149                             41                     5
3447233                            154                    17
3449808                             52                     3
3450965                              1                     0
3451737                              3                     0

                 TOT_ORD_365_SECOND_PLUS  TOT_UNITS_365_SECOND_PLUS  \
CUSTOMER_DIM_ID
8376                                   0                          0
9729                                   6                         19
12765                                  1                          2
14940                                  0                          0
15046                                  0                          0
18536                                  7                         21
22137                                  1                          6
31008                                  2                         25
34618                                  0                          0
37727                                  1                          3
39569                                  0                          0
40044                                  0                          0
44927                                  3                         13
47859                                  0                          0
48995                                  9                         30
58933                                  0                          0
63402                                  0                          0
65726                                  1                          3
67187                                  2                          2
81978                                  0                          0
95428                                  1                          4
104432                                 0                          0
108344                                 6                         29
111037                                 0                          0
114240                                 1                          8
121138                                 1                          5
131994                                 1                          4
133176                                 1                          2
134666                                 0                          0
135537                                11                         16
...                                  ...                        ...
3315591                                0                          0
3320068                                0                          0
3322166                                2                          3
3323716                                1                          2
3326964                                0                          0
3329716                                3                          8
3333009                                0                          0
3334912                                0                          0
3339023                                1                          3
3348623                                2                         21
3358136                                1                          1
3358278                                3                          5
3363727                                1                          3
3367564                                0                          0
3373270                                3                          3
3379768                                2                          3
3383864                                2                          9
3391316                                0                          0
3393085                                2                          4
3406742                                1                          1
3417978                                0                          0
3423142                                4                          6
3423290                                2                          6
3425310                                1                          3
3432047                                3                         15
3443149                                5                         31
3447233                               17                         53
3449808                                3                         14
3450965                                0                          0
3451737                                0                          0

                 TOT_UNITS_365_POST_SEC  LAPSED_CUSTOMER_FLG  \
CUSTOMER_DIM_ID
8376                                  0                    1
9729                                 12                    0
12765                                 0                    1
14940                                 0                    1
15046                                 0                    1
18536                                19                    0
22137                                 0                    0
31008                                10                    1
34618                                 0                    1
37727                                 0                    1
39569                                 0                    1
40044                                 0                    1
44927                                10                    0
47859                                 0                    1
48995                                27                    1
58933                                 0                    1
63402                                 0                    1
65726                                 0                    1
67187                                 1                    1
81978                                 0                    0
95428                                 0                    1
104432                                0                    0
108344                               27                    0
111037                                0                    1
114240                                0                    1
121138                                0                    1
131994                                0                    1
133176                                0                    1
134666                                0                    0
135537                               14                    0
...                                 ...                  ...
3315591                               0                    0
3320068                               0                    1
3322166                               1                    1
3323716                               0                    1
3326964                               0                    1
3329716                               2                    1
3333009                               0                    1
3334912                               0                    1
3339023                               0                    0
3348623                              13                    1
3358136                               0                    1
3358278                               3                    0
3363727                               0                    1
3367564                               0                    1
3373270                               2                    1
3379768                               2                    1
3383864                               5                    0
3391316                               0                    0
3393085                               2                    1
3406742                               0                    1
3417978                               0                    1
3423142                               5                    1
3423290                               2                    1
3425310                               0                    1
3432047                              10                    0
3443149                              25                    0
3447233                              52                    0
3449808                              10                    1
3450965                               0                    0
3451737                               0                    1

                 Lifetime_Womens_Purchase_Flg
CUSTOMER_DIM_ID
8376                                        1
9729                                        1
12765                                       1
14940                                       0
15046                                       1
18536                                       1
22137                                       1
31008                                       0
34618                                       0
37727                                       1
39569                                       1
40044                                       0
44927                                       0
47859                                       1
48995                                       1
58933                                       0
63402                                       1
65726                                       0
67187                                       0
81978                                       1
95428                                       1
104432                                      0
108344                                      1
111037                                      1
114240                                      1
121138                                      0
131994                                      0
133176                                      1
134666                                      1
135537                                      1
...                                       ...
3315591                                     0
3320068                                     1
3322166                                     1
3323716                                     1
3326964                                     1
3329716                                     1
3333009                                     1
3334912                                     1
3339023                                     1
3348623                                     0
3358136                                     1
3358278                                     1
3363727                                     1
3367564                                     0
3373270                                     1
3379768                                     1
3383864                                     0
3391316                                     1
3393085                                     0
3406742                                     1
3417978                                     0
3423142                                     1
3423290                                     0
3425310                                     0
3432047                                     1
3443149                                     0
3447233                                     1
3449808                                     1
3450965                                     1
3451737                                     1

[994 rows x 9 columns]>

### Train and Test Data

In [5]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

X_train_L, X_test_L, y_train_L, y_test_L = train_test_split(X_L, y_L, test_size=0.2, random_state = 42)
logreg = LogisticRegression()
logreg.fit(X_train_L, y_train_L)
y_pred_L = logreg.predict(X_test_L)
y_pred_proba_L = logreg.predict_proba(X_test_L)

In [6]:

X_test_L=pd.DataFrame(X_test_L)
result_L=pd.DataFrame(y_pred_proba_L)
result_L.columns = ['flag = 0', 'flag = 1']
result_L.index=X_test_L.index
df_out = pd.concat([X_test_L,result_L], axis=1)
df_out=df_out.sort_values(by='flag = 1')

In [7]:
df_out.head()

,LIFETIME_UNITS,DISTINCT_CHANNELS_PURCHASED,DIRECT_LIFETIME_UNITS,TOT_ORD_365_POST_ACQ,TOT_ORD_365_SECOND_PLUS,TOT_UNITS_365_SECOND_PLUS,TOT_UNITS_365_POST_SEC,LAPSED_CUSTOMER_FLG,Lifetime_Womens_Purchase_Flg,flag = 0,flag = 1
CUSTOMER_DIM_ID,,,,,,,,,,,
785095,232,2,231,11,13,76,74,1,1,0.998853,0.001147
933224,26,1,26,0,4,25,24,1,0,0.997109,0.002891
877303,62,2,59,6,6,32,30,1,1,0.994452,0.005548
2988565,1,1,1,0,0,0,0,1,1,0.994408,0.005592
39569,1,1,1,0,0,0,0,1,1,0.994408,0.005592

In [8]:
df_out.to_csv("Logistics_predictions_Update.csv")

In [ ]:
logreg.score(X_test_L, y_test_L)

### Validate Data

#### ROC Curve - Threshold

In [10]:
from sklearn.metrics import roc_curve
y_pred_proba_L = logreg.predict_proba(X_test_L)[:,1]
fpr, tpr, thresholds = roc_curve(y_test_L, y_pred_proba_L)

In [11]:
import matplotlib.pyplot as plt
plt.plot([0,1], [0,1], 'k--')
plt.plot(fpr, tpr, label = 'Logistic Regression')
plt.xlabel('False Positive Rate')
plt.ylabel('True Positive Rate')
plt.title('Logistic Regression ROC Curve')
plt.show()

In [ ]:
from sklearn.metrics import roc_auc_score
roc_auc_score(y_test_L, y_pred_proba_L)
# Larger area under ROC curve = better model

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, classification_report

print(confusion_matrix(y_test_L, y_pred_L))
print(classification_report(y_test_L, y_pred_L))

# precision = TP/(TP+FP)
# recall=TP/(TP+FN)


# precision - fraction of retrieved instances that are relevant
# recall - fraction of relevant instances that are retrieved
# F1 score - measure of a test's accuracy
# support - count of testes samples